/* Alfredo Jirout Cid UO288443*/
/*
Paleta de colores

Cyan #2ff3e0
Gold #f8d210
Pink #fa26a0
rojo #850000

*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: #2ff3e0;
}
/*Especificidad 1*/
header{
    background-color: #850000;
    color: #f8d210;
}

/*
el color de fonde se hereda del Header
Especificidad 2
*/
nav a {
    color: #2ff3e0;
}


